@using brcoffee.Models

@{
    account acc = (account)Session["account"];
}

<form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
    <a class="navbar-text mr-1" href="#">Hello, <b>@acc.displayname</b>.</a>
    <a class="navbar-text mr-1" href="@Url.Action("Logout", "Admin")">Logout</a>
</form>


