
@{
    ViewBag.Title = "BR Studio & Coffee";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="text-center">
    <img class="img-responsive" src="~/Resources/logo.png" width="500">
</div>
<h1 class="display-1 text-center">Administrator</h1>
<p class="lead">
    <h3 class="text-center">Manage <b>BR Studio & Coffee</b> Project here.</h3>
</p>
