
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BR Studio & Coffee</title>
    <link href="~/Assets/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/Admin/css/sb-admin.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="@Url.Action("Index", "Admin")">BR Studio & Coffee</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="container" style="margin-top:150px">
        <div class="card card-login mx-auto">
            <div class="card-header">Login</div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="text" name="userName" id="inputUser" class="form-control" placeholder="User Name" required="required" autofocus="autofocus">
                            <label for="inputUser">User Name</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
                            <label for="inputPassword">Password</label>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary btn-block" value="Login" />
                }
            </div>
        </div>
        <div class="text-center" style="margin-top:100px">
            <hr />
            <div class="text-secondary"><em>Huy Nguyen Minh</em></div>
            <div class="text-secondary"><em>ID & Class: 175050002 - 17D1TH01</em></div>
            <div class="text-secondary"><em>Leader at Olympiad in Informatics Club</em></div>
            <div class="text-secondary"><em>Studies at University of Economics & Finance</em></div>
        </div>
    </div>
    <script src="~/Assets/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
</html>

